@font-face {
  font-family: "Pokemon";
  src: url(./assets/fonts/PokemonHollow.ttf);
  font-weight: solid;
}

@font-face {
  font-family: "pokemonSolid";
  src: url(./assets/fonts/PokemonSolid.ttf);
  font-weight: solid;
}

body {
  background-image: url("assets/gradient2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: rubik;
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px;
  margin: 0 auto;
}
.logoPokedex {
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  margin: 70px 0px;
  text-align: center;
}

.search-container input {
  padding: 24px 64px;
  font-size: 16px;
  border-radius: 40px;
  text-align: center;
  color: orangered;
  text-transform: uppercase;
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  font-family: Pokemon;
}
.card-subtitle {
  font-weight: lighter;
  color: #666;
  z-index: 1;
}

#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}
.card:hover {
  animation: bounce 0.5s linear;
}

.types-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.type {
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center-on-page {
  position: absolute;
  top: 18%;
  left: 20%;
  transform: translate(-50%, -50%);
}
/* Poké Styles */
.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -git10px 10px 0 10px #ccc;
  animation: fall 0.25s ease-in-out, shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;
}
.pokeball::before,
.pokeball::after {
  content: "";
  position: absolute;
}
.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}
.pokeball::after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background: #000;
}
.pokeball__button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: #7f8c8d;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px black;
  animation: blink 0.5s alternate 7;
}
/* Animation */
@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #e74c3c;
  }
}

@keyframes fall {
  0% {
    top: -200px;
  }
  60% {
    top: 0;
  }
  80% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 420px;
  cursor: pointer;
  perspective: 1000px;
  object-fit: cover;
}

.flip-card img {
  position: relative;
  width: 60%;
  object-fit: cover;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  padding-top: 18%;
  border-radius: 6%;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transform: rotateY(180deg);
}

.card-stats {
  color: red;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
}
